includes:
    - phpstan.neon

parameters:
    # This config is only for the Craft 4 CI run.
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Call to an undefined static method craft\\elements\\conditions\\ElementCondition::conditionRuleTypes\(\)\.#'
            path: src/elements/conditions/products/ProductCondition.php
        -
            message: '#Call to an undefined static method craft\\elements\\conditions\\ElementCondition::selectableConditionRules\(\)\.#'
            path: src/elements/conditions/products/ProductCondition.php
        -
            message: '#Class craft\\shopify\\linktypes\\Product extends unknown class craft\\fields\\linktypes\\BaseElementLinkType\.#'
            path: src/linktypes/Product.php
        -
            message: '#Negated boolean expression is always false\.#'
            path: src/fieldlayoutelements/MetafieldsField.php
        -
            message: '#Negated boolean expression is always false\.#'
            path: src/fieldlayoutelements/OptionsField.php
        -
            message: '#Negated boolean expression is always false\.#'
            path: src/fieldlayoutelements/VariantsField.php


